/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#text-input{
margin-top: 15px;
}

#input-range{
  padding-top: 20px;
  text-align: center;
}


::placeholder{
  text-align: center;
}

#icones{
  padding-top: 20px;
  color: rgb(22, 99, 255);
  padding-inline-end: 90px;
  width: 20%;
  display: flex;
  flex-direction: row;
  padding-left: 90px;
  padding-bottom: 20px;
}

.fa-play{
  padding-right: 20px;
}

.fa-pause{
  padding-right: 20px;
}

#icones i {
  font-size: 30px;
  cursor: pointer;
}

#icones a{
  color: rgb(22, 99, 255);
  text-decoration: none;
}

#icones a:hover {
  color: rgb(13, 64, 165);
}

#countdown {
  position: relative;
  margin: auto;
  margin-top: 20px;
  height: 40px;
  text-align: center;

}

#countdown-number {
  color: black;
  font-family: technology;
  font-size: 25px;
}

/*svg{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: black;
  fill: none;
  animation: countdown 10s linear forwards;
}*/

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}